In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Create real estate dataframe
real_estate_df=pd.read_csv("Resources/Real_Estate_Data.csv")
real_estate_df.head()

,status,price,bed,bath,acre_lot,full_address,street,city,state,zip_code,house_size,sold_date
0,for_sale,105000.0,3.0,2.0,0.12,"Sector Yahuecas Titulo # V84, Adjuntas, PR, 00601",Sector Yahuecas Titulo # V84,Adjuntas,Puerto Rico,601.0,920.0,NaN
1,for_sale,80000.0,4.0,2.0,0.08,"Km 78 9 Carr # 135, Adjuntas, PR, 00601",Km 78 9 Carr # 135,Adjuntas,Puerto Rico,601.0,1527.0,NaN
2,for_sale,67000.0,2.0,1.0,0.15,"556G 556-G 16 St, Juana Diaz, PR, 00795",556G 556-G 16 St,Juana Diaz,Puerto Rico,795.0,748.0,NaN
3,for_sale,145000.0,4.0,2.0,0.10,"R5 Comunidad El Paraso Calle De Oro R-5 Ponce,...",R5 Comunidad El Paraso Calle De Oro R-5 Ponce,Ponce,Puerto Rico,731.0,1800.0,NaN
4,for_sale,65000.0,6.0,2.0,0.05,"14 Navarro, Mayaguez, PR, 00680",14 Navarro,Mayaguez,Puerto Rico,680.0,NaN,NaN

In [3]:
# Create Trader Joe's dataframe
trader_joes_df=pd.read_csv("Resources/Trader_Joes_Stores.csv")
trader_joes_df.head()

,name,latitude,longitude,street,city,state,zip,phone,website
0,Trader Joe's Houston - Alabama Theater (426),29.739211,-95.411323,2922 S Shepherd Drive,Houston,TX,77098,713-526-4034,https://locations.traderjoes.com/tx/houston/426/
1,Trader Joe's Houston - West (431),29.735406,-95.582487,11683 Westheimer Rd,Houston,TX,77077,281-496-2488,https://locations.traderjoes.com/tx/houston/431/
2,Trader Joe's Houston - S Voss Rd (427),29.752713,-95.501667,1440 South Voss Road,Houston,TX,77057,713-266-2377,https://locations.traderjoes.com/tx/houston/427/
3,Trader Joe's McKinney (408),33.173697,-96.642874,2851 Craig Dr Ste 100,McKinney,TX,75070,214-491-1893,https://locations.traderjoes.com/tx/mckinney/408/
4,Trader Joe's Dallas Far North (407),32.950870,-96.802823,14856 Preston Rd,Dallas,TX,75254,972-239-3901,https://locations.traderjoes.com/tx/dallas/407/

In [4]:
# Find the length of the real estate df
len(real_estate_df)

923159

In [5]:
# Find the number of null values in each column
real_estate_df.isnull().sum()

status               0
price               71
bed             131703
bath            115192
acre_lot        273623
full_address         0
street            2138
city                74
state                0
zip_code           205
house_size      297843
sold_date       466763
dtype: int64

In [6]:
# Find unique values for the status column
real_estate_df.status.unique()

array(['for_sale', 'ready_to_build'], dtype=object)

In [7]:
# Drop status, street, and sold date columns
real_estate_df = real_estate_df.drop(["status", "street", "sold_date"], axis=1)
real_estate_df.head()

,price,bed,bath,acre_lot,full_address,city,state,zip_code,house_size
0,105000.0,3.0,2.0,0.12,"Sector Yahuecas Titulo # V84, Adjuntas, PR, 00601",Adjuntas,Puerto Rico,601.0,920.0
1,80000.0,4.0,2.0,0.08,"Km 78 9 Carr # 135, Adjuntas, PR, 00601",Adjuntas,Puerto Rico,601.0,1527.0
2,67000.0,2.0,1.0,0.15,"556G 556-G 16 St, Juana Diaz, PR, 00795",Juana Diaz,Puerto Rico,795.0,748.0
3,145000.0,4.0,2.0,0.10,"R5 Comunidad El Paraso Calle De Oro R-5 Ponce,...",Ponce,Puerto Rico,731.0,1800.0
4,65000.0,6.0,2.0,0.05,"14 Navarro, Mayaguez, PR, 00680",Mayaguez,Puerto Rico,680.0,NaN

In [8]:
# Drop rows that are null for price, city, zip code
# real_estate_df = real_estate_df.dropna(subset=['price', 'city', 'zip_code'])

In [9]:
# Find average for bed, bath, acre_lot, and house_size
# real_estate_df.mean()

In [10]:
# Fill NAs with average for bed, bath, acre-lot, and house_size
# real_estate_df.fillna(real_estate_df.mean())

In [11]:
# Drop all NAs (instead of filling with mean as above)
real_estate_df = real_estate_df.dropna()

In [12]:
# Preview dataframe
real_estate_df.head()

,price,bed,bath,acre_lot,full_address,city,state,zip_code,house_size
0,105000.0,3.0,2.0,0.12,"Sector Yahuecas Titulo # V84, Adjuntas, PR, 00601",Adjuntas,Puerto Rico,601.0,920.0
1,80000.0,4.0,2.0,0.08,"Km 78 9 Carr # 135, Adjuntas, PR, 00601",Adjuntas,Puerto Rico,601.0,1527.0
2,67000.0,2.0,1.0,0.15,"556G 556-G 16 St, Juana Diaz, PR, 00795",Juana Diaz,Puerto Rico,795.0,748.0
3,145000.0,4.0,2.0,0.10,"R5 Comunidad El Paraso Calle De Oro R-5 Ponce,...",Ponce,Puerto Rico,731.0,1800.0
5,179000.0,4.0,3.0,0.46,"Bo Calabazas San Sebastian, San Sebastian, PR,...",San Sebastian,Puerto Rico,612.0,2520.0

In [13]:
# Preview dataframe
real_estate_df.tail()

,price,bed,bath,acre_lot,full_address,city,state,zip_code,house_size
923153,825000.0,5.0,5.0,1.60,"100 Pleasant Hill Rd, New Windsor, NY, 12553",New Windsor,New York,12553.0,4522.0
923154,445000.0,1.0,2.0,0.99,"1008 King St, Chappaqua, NY, 10514",Chappaqua,New York,10514.0,1052.0
923155,418000.0,4.0,2.0,0.40,"3 Elmwood Dr, Monroe, NY, 10950",Monroe,New York,10950.0,1650.0
923156,469000.0,4.0,2.0,0.18,"13 N Conger Ave, Congers, NY, 10920",Congers,New York,10920.0,2123.0
923157,825000.0,5.0,5.0,0.79,"7 Miller Rd, Valley Cottage, NY, 10989",Valley Cottage,New York,10989.0,3775.0