### Input Dependencies & Load Data

In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Create real estate dataframe
real_estate_df=pd.read_csv("../Resources/Real_Estate_Data.zip")
real_estate_df.head()

,status,price,bed,bath,acre_lot,full_address,street,city,state,zip_code,house_size,sold_date
0,for_sale,105000.0,3.0,2.0,0.12,"Sector Yahuecas Titulo # V84, Adjuntas, PR, 00601",Sector Yahuecas Titulo # V84,Adjuntas,Puerto Rico,601.0,920.0,NaN
1,for_sale,80000.0,4.0,2.0,0.08,"Km 78 9 Carr # 135, Adjuntas, PR, 00601",Km 78 9 Carr # 135,Adjuntas,Puerto Rico,601.0,1527.0,NaN
2,for_sale,67000.0,2.0,1.0,0.15,"556G 556-G 16 St, Juana Diaz, PR, 00795",556G 556-G 16 St,Juana Diaz,Puerto Rico,795.0,748.0,NaN
3,for_sale,145000.0,4.0,2.0,0.10,"R5 Comunidad El Paraso Calle De Oro R-5 Ponce,...",R5 Comunidad El Paraso Calle De Oro R-5 Ponce,Ponce,Puerto Rico,731.0,1800.0,NaN
4,for_sale,65000.0,6.0,2.0,0.05,"14 Navarro, Mayaguez, PR, 00680",14 Navarro,Mayaguez,Puerto Rico,680.0,NaN,NaN

In [3]:
# Create Trader Joe's dataframe
trader_joes_df=pd.read_csv("../Resources/Trader_Joes_Stores.zip")
trader_joes_df.head()

,name,latitude,longitude,street,city,state,zip,phone,website
0,Trader Joe's Houston - Alabama Theater (426),29.739211,-95.411323,2922 S Shepherd Drive,Houston,TX,77098,713-526-4034,https://locations.traderjoes.com/tx/houston/426/
1,Trader Joe's Houston - West (431),29.735406,-95.582487,11683 Westheimer Rd,Houston,TX,77077,281-496-2488,https://locations.traderjoes.com/tx/houston/431/
2,Trader Joe's Houston - S Voss Rd (427),29.752713,-95.501667,1440 South Voss Road,Houston,TX,77057,713-266-2377,https://locations.traderjoes.com/tx/houston/427/
3,Trader Joe's McKinney (408),33.173697,-96.642874,2851 Craig Dr Ste 100,McKinney,TX,75070,214-491-1893,https://locations.traderjoes.com/tx/mckinney/408/
4,Trader Joe's Dallas Far North (407),32.950870,-96.802823,14856 Preston Rd,Dallas,TX,75254,972-239-3901,https://locations.traderjoes.com/tx/dallas/407/

In [4]:
# Create Walmart dataframe
walmart_df=pd.read_csv("../Resources/Walmart_Stores.zip")
walmart_df.head()

,name,url,street_address,city,state,zip_code,country,phone_number_1,phone_number_2,fax_1,...,email_2,website,open_hours,latitude,longitude,facebook,twitter,instagram,pinterest,youtube
0,Conway Supercenter,https://www.walmart.com/store/5/conway-ar/details,1155 Hwy 65 North,Conway,AR,72032,US,501-329-0023,NaN,NaN,...,NaN,NaN,"monday - friday : 00:00-24:00, saturday : 00:0...",35.108660,-92.436905,NaN,NaN,NaN,NaN,NaN
1,Sikeston Supercenter,https://www.walmart.com/store/9/sikeston-mo/de...,1303 S Main St,Sikeston,MO,63801,US,573-472-3020,NaN,NaN,...,NaN,NaN,"monday - friday : 00:00-24:00, saturday : 00:0...",36.857394,-89.586051,NaN,NaN,NaN,NaN,NaN
2,Tahlequah Supercenter,https://www.walmart.com/store/10/tahlequah-ok/...,2020 S Muskogee Ave,Tahlequah,OK,74464,US,918-456-8804,NaN,NaN,...,NaN,NaN,"monday - friday : 00:00-24:00, saturday : 00:0...",35.888765,-94.979859,NaN,NaN,NaN,NaN,NaN
3,Mountain Home Supercenter,https://www.walmart.com/store/11/mountain-home...,65 Wal Mart Dr,Mountain Home,AR,72653,US,870-492-9299,NaN,NaN,...,NaN,NaN,"monday - friday : 00:00-24:00, saturday : 00:0...",36.354957,-92.341026,NaN,NaN,NaN,NaN,NaN
4,Claremore Supercenter,https://www.walmart.com/store/12/claremore-ok/...,1500 S Lynn Riggs Blvd,Claremore,OK,74017,US,918-341-2765,NaN,NaN,...,NaN,NaN,"monday - friday : 00:00-24:00, saturday : 00:0...",36.293955,-95.627125,NaN,NaN,NaN,NaN,NaN

### Clean Real_Estate_Data.csv

In [5]:
# Find the length of the real estate df
len(real_estate_df)

923159

In [6]:
# Find the number of null values in each column
real_estate_df.isnull().sum()

status               0
price               71
bed             131703
bath            115192
acre_lot        273623
full_address         0
street            2138
city                74
state                0
zip_code           205
house_size      297843
sold_date       466763
dtype: int64

In [7]:
# Find unique values for status column
real_estate_df.status.unique()

array(['for_sale', 'ready_to_build'], dtype=object)

In [8]:
# Drop status, street, and sold date columns
real_estate_df = real_estate_df.drop(["status", "street", "sold_date"], axis=1)
real_estate_df.head()

,price,bed,bath,acre_lot,full_address,city,state,zip_code,house_size
0,105000.0,3.0,2.0,0.12,"Sector Yahuecas Titulo # V84, Adjuntas, PR, 00601",Adjuntas,Puerto Rico,601.0,920.0
1,80000.0,4.0,2.0,0.08,"Km 78 9 Carr # 135, Adjuntas, PR, 00601",Adjuntas,Puerto Rico,601.0,1527.0
2,67000.0,2.0,1.0,0.15,"556G 556-G 16 St, Juana Diaz, PR, 00795",Juana Diaz,Puerto Rico,795.0,748.0
3,145000.0,4.0,2.0,0.10,"R5 Comunidad El Paraso Calle De Oro R-5 Ponce,...",Ponce,Puerto Rico,731.0,1800.0
4,65000.0,6.0,2.0,0.05,"14 Navarro, Mayaguez, PR, 00680",Mayaguez,Puerto Rico,680.0,NaN

In [9]:
# Fill NAs for acre_lot with 0
real_estate_df['acre_lot'] = real_estate_df['acre_lot'].fillna(0)

In [10]:
# Drop all remaining NAs
real_estate_df = real_estate_df.dropna()

In [11]:
# Preview dataframe
real_estate_df.head()

,price,bed,bath,acre_lot,full_address,city,state,zip_code,house_size
0,105000.0,3.0,2.0,0.12,"Sector Yahuecas Titulo # V84, Adjuntas, PR, 00601",Adjuntas,Puerto Rico,601.0,920.0
1,80000.0,4.0,2.0,0.08,"Km 78 9 Carr # 135, Adjuntas, PR, 00601",Adjuntas,Puerto Rico,601.0,1527.0
2,67000.0,2.0,1.0,0.15,"556G 556-G 16 St, Juana Diaz, PR, 00795",Juana Diaz,Puerto Rico,795.0,748.0
3,145000.0,4.0,2.0,0.10,"R5 Comunidad El Paraso Calle De Oro R-5 Ponce,...",Ponce,Puerto Rico,731.0,1800.0
5,179000.0,4.0,3.0,0.46,"Bo Calabazas San Sebastian, San Sebastian, PR,...",San Sebastian,Puerto Rico,612.0,2520.0

In [12]:
# Checking length after dropping NAs
len(real_estate_df)

601901

In [13]:
# Find unique values for the state column
real_estate_df.state.unique()

array(['Puerto Rico', 'Virgin Islands', 'Massachusetts', 'Connecticut',
       'New Jersey', 'New York', 'New Hampshire', 'Vermont',
       'Rhode Island', 'Wyoming', 'Maine', 'Georgia', 'Pennsylvania',
       'West Virginia', 'Delaware'], dtype=object)

In [14]:
# Dropping states with real estate sales that do not have a TJs

real_estate_df = real_estate_df[real_estate_df.state != "Puerto Rico"]
real_estate_df = real_estate_df[real_estate_df.state != "Virgin Islands"]
real_estate_df = real_estate_df[real_estate_df.state != "Wyoming"]
real_estate_df = real_estate_df[real_estate_df.state != "West Virginia"]
real_estate_df = real_estate_df[real_estate_df.state != "Georgia"]
real_estate_df.head()

,price,bed,bath,acre_lot,full_address,city,state,zip_code,house_size
24231,180000.0,2.0,1.0,0.34,"23 Moore St, Agawam, MA, 01001",Agawam,Massachusetts,1001.0,676.0
24233,169900.0,2.0,2.0,0.00,"420 Main St Apt 42, Agawam, MA, 01001",Agawam,Massachusetts,1001.0,892.0
24234,242000.0,2.0,2.0,0.00,"2A Mansion Woods Dr Unit 2A, Agawam, MA, 01001",Agawam,Massachusetts,1001.0,1428.0
24235,299950.0,2.0,2.0,0.00,"19 Castle Hill Rd Unit C, Agawam, MA, 01001",Agawam,Massachusetts,1001.0,1659.0
24236,239900.0,3.0,1.0,0.46,"270 South St, Agawam, MA, 01001",Agawam,Massachusetts,1001.0,1196.0

In [15]:
# Checking datatypes specifically for zip code
real_estate_df.dtypes

price           float64
bed             float64
bath            float64
acre_lot        float64
full_address     object
city             object
state            object
zip_code        float64
house_size      float64
dtype: object

In [16]:
# Convert zip_code to 5 digits 
real_estate_df['zip_code'] = real_estate_df['zip_code'].astype(int).astype(str).str.zfill(5)
real_estate_df

,price,bed,bath,acre_lot,full_address,city,state,zip_code,house_size
24231,180000.0,2.0,1.0,0.34,"23 Moore St, Agawam, MA, 01001",Agawam,Massachusetts,01001,676.0
24233,169900.0,2.0,2.0,0.00,"420 Main St Apt 42, Agawam, MA, 01001",Agawam,Massachusetts,01001,892.0
24234,242000.0,2.0,2.0,0.00,"2A Mansion Woods Dr Unit 2A, Agawam, MA, 01001",Agawam,Massachusetts,01001,1428.0
24235,299950.0,2.0,2.0,0.00,"19 Castle Hill Rd Unit C, Agawam, MA, 01001",Agawam,Massachusetts,01001,1659.0
24236,239900.0,3.0,1.0,0.46,"270 South St, Agawam, MA, 01001",Agawam,Massachusetts,01001,1196.0
...,...,...,...,...,...,...,...,...,...
923153,825000.0,5.0,5.0,1.60,"100 Pleasant Hill Rd, New Windsor, NY, 12553",New Windsor,New York,12553,4522.0
923154,445000.0,1.0,2.0,0.99,"1008 King St, Chappaqua, NY, 10514",Chappaqua,New York,10514,1052.0
923155,418000.0,4.0,2.0,0.40,"3 Elmwood Dr, Monroe, NY, 10950",Monroe,New York,10950,1650.0
923156,469000.0,4.0,2.0,0.18,"13 N Conger Ave, Congers, NY, 10920",Congers,New York,10920,2123.0
923157,825000.0,5.0,5.0,0.79,"7 Miller Rd, Valley Cottage, NY, 10989",Valley Cottage,New York,10989,3775.0

In [31]:
# Pull out Zip codes for HTML Drop Down
zip_dropdown=real_estate_df[["zip_code"]].value_counts()
zip_dropdown

zip_code
11201       3557
02118       3421
02127       3059
10022       2678
10011       2652
            ...
19374          1
19380          1
12762          1
12770          1
12855          1
Length: 2876, dtype: int64

In [32]:
# Send zips to csv.
zip_dropdown.to_csv("../Resources/zip_dropdown.csv",)

In [35]:
real_estate_df[real_estate_df.zip_code=="0604"]

Empty DataFrame
Columns: [price, bed, bath, acre_lot, full_address, city, state, zip_code, house_size]
Index: []

In [ ]:
# Checking length after dropping NAs
len(real_estate_df)

In [ ]:
# Find the number of entries per state
real_estate_df['state'].value_counts()

### Clean Trader_Joes_Stores.csv

In [ ]:
# Drop phone and website columns
trader_joes_df = trader_joes_df.drop(["phone", "website"], axis=1)
trader_joes_df.head()

In [ ]:
# Convert zip_code to 5 digits 
trader_joes_df['zip'] = trader_joes_df['zip'].astype(int).astype(str).str.zfill(5)
trader_joes_df.head()

In [ ]:
# Find unique values for the state column
trader_joes_df.state.unique()

In [ ]:
# Dropping states with TJs that do not have real estate sales

trader_joes_states = ['VT', 'ME', 'RI', 'NH', 'CT', 'PA', 'DE', 'NJ', 'MA', 'NY']
new_trader_joes_list=[]
for x in trader_joes_states:
    state_df=trader_joes_df[trader_joes_df.state == x]
    new_trader_joes_list.append(state_df)
# state_df
new_trader_joes_list

new_trader_joes_df=pd.concat(new_trader_joes_list)
new_trader_joes_df

In [ ]:
#Testing that we got what we needed
ma=new_trader_joes_df[new_trader_joes_df['state']=='PA']
ma

### Clean Walmart_Stores.csv

In [ ]:
# Drop unnecessary columns
walmart_df = walmart_df.drop(["url", "phone_number_1", "phone_number_2", "fax_1", "fax_2", "email_1", "email_2", "website", "open_hours", "facebook", "twitter", "instagram", "pinterest", "youtube"], axis=1)
walmart_df.head()

In [ ]:
# Convert zip_code to 5 digits 
walmart_df['zip_code'] = walmart_df['zip_code'].astype(int).astype(str).str.zfill(5)
walmart_df.head()

In [ ]:
# Dropping states with Walmarts that do not have real estate sales

walmart_states = ['VT', 'ME', 'RI', 'NH', 'CT', 'PA', 'DE', 'NJ', 'MA', 'NY']
new_walmart_list=[]
for x in walmart_states:
    walmart_state_df=walmart_df[walmart_df.state == x]
    new_walmart_list.append(walmart_state_df)

new_walmart_df=pd.concat(new_walmart_list)
new_walmart_df

### Find Zip Code Matches for Trader Joe's & Walmart

In [ ]:
# Identify the number of TJs in a given zip code 

# Create df for TJs store count
TJs_store_count=pd.DataFrame(new_trader_joes_df.zip.value_counts())
TJs_store_count.reset_index(inplace=True)
TJs_store_count=TJs_store_count.rename(columns={"index":"zip_code","zip":"TJs_store_count"})

TJs_real_estate_df = pd.merge(real_estate_df, TJs_store_count,how="outer", left_on='zip_code', right_on='zip_code')
TJs_real_estate_df

In [ ]:
# Fill TJs_store_count NaNs with 0
TJs_real_estate_df['TJs_store_count'] = TJs_real_estate_df['TJs_store_count'].fillna(0)

In [ ]:
# Drop NaNs in TJs_real_estate_df
TJs_real_estate_df = TJs_real_estate_df.dropna()

In [ ]:
# Ensuring above code is functional
TJs_real_estate_df.sample(15)

In [ ]:
# Testing a zip code known to have TJs to make sure code works
TJs_real_estate_df[TJs_real_estate_df.zip_code=='01035']

In [ ]:
# Identify the number of Walmarts in a given zip code 

# Create df for walmart store count
walmart_store_count=pd.DataFrame(new_walmart_df.zip_code.value_counts())
walmart_store_count.reset_index(inplace=True)
walmart_store_count=walmart_store_count.rename(columns={"index":"zip_code","zip_code":"walmart_store_count"})

# Merge Walmart store count with real estate dataframe
new_real_estate_df = pd.merge(TJs_real_estate_df, walmart_store_count,how="outer", left_on='zip_code', right_on='zip_code')
new_real_estate_df

In [ ]:
# Fill walmart_store_count NaNs with 0
new_real_estate_df['walmart_store_count'] = new_real_estate_df['walmart_store_count'].fillna(0)

In [ ]:
# Drop NaNs in new_real_estate_df
new_real_estate_df = new_real_estate_df.dropna()

In [ ]:
# Ensuring above code is functional
new_real_estate_df.sample(15)

### Inspect Real_Estate_Data.csv Data

In [ ]:
# Investigating correlation between variables
new_real_estate_df.corr()

In [ ]:
# Investigating distribution
new_real_estate_df.describe()

In [ ]:
# Creating histogram of prices
fig = px.histogram(new_real_estate_df, x='price')
fig.show()

In [ ]:
# Creating a box plot of prices
fig = px.box(new_real_estate_df, y='price')
fig.show()

In [ ]:
# Creating a scatter plot of two separate variables
fig = px.scatter(x=new_real_estate_df['price'], y=new_real_estate_df['bed'])
fig.show()

In [ ]:
# Find outliers for price
def find_outliers_IQR(new_real_estate_df):
    q1=new_real_estate_df.quantile(0.25)
    q3=new_real_estate_df.quantile(0.75)
    IQR=q3-q1
    outliers = new_real_estate_df[((new_real_estate_df<(q1-1.5*IQR)) | (new_real_estate_df>(q3+1.5*IQR)))]
    return outliers

outliers = find_outliers_IQR(new_real_estate_df['price'])
print('number of outliers: '+ str(len(outliers)))
print('max outlier value: '+ str(outliers.max()))
print('min outlier value: '+ str(outliers.min()))

In [ ]:
# Find outliers for all columns and drop
outliers = find_outliers_IQR(new_real_estate_df[['price','bed', 'bath', 'acre_lot', 'house_size']]).dropna(thresh=2)
outliers

In [ ]:
# Find the expected length of the new dataframe
(len(new_real_estate_df)) - (len(outliers))

In [ ]:
# Remove outliers
clean_real_estate_df= new_real_estate_df[~new_real_estate_df.index.isin(outliers.index)]
clean_real_estate_df.head()

In [ ]:
# Find the length of the new dataframe
len(clean_real_estate_df)

In [ ]:
# Remove $160 mil house
clean_real_estate_df = clean_real_estate_df[clean_real_estate_df.price <= 160000000]

In [ ]:
# Find the number of entries per state
clean_real_estate_df['state'].value_counts()

In [ ]:
clean_real_estate_df = clean_real_estate_df.rename(columns={"price": "Price", "bed": "Bed", "bath": "Bath", "acre_lot": "Acre Lot", "full_address": "Address", "city": "City", "state": "State", "zip_code": "Zip Code", "house_size": "House Size", "TJs_store_count": "Trader Joe's Proximity", "walmart_store_count": "Walmart Proximity"})
clean_real_estate_df.head()

In [ ]:
# Plot correlation matrix

df_corr = clean_real_estate_df.corr(method="pearson").round(2)

plt.figure(figsize=(5, 5),dpi=600)
g=sns.heatmap(df_corr, square=True,
            center=0, annot=True, linewidths=.5,
            cmap="Blues", cbar_kws={"shrink": 0.8},vmin=-1,vmax=1);
g.set_xticklabels(g.get_xticklabels(),rotation=45,fontsize=10,ha='right')
plt.title('Correlation Matrix')

In [ ]:
# Creating histogram of prices
fig = px.histogram(clean_real_estate_df, x='Price')
fig.show()

In [ ]:
# Creating a box plot of prices
fig = px.box(clean_real_estate_df, y='Price')
fig.show()

In [ ]:
# Creating a scatter plot of two separate variables
fig = px.scatter(x=clean_real_estate_df['Price'], y=clean_real_estate_df['Bed'])
fig.show()

In [ ]:
# Export dataframe to CSV
compression_opts = dict(method='zip', archive_name='Resources/Clean_Real_Estate.csv')
clean_real_estate_df.to_csv('../Resources/Clean_Real_Estate.zip', index=False, compression=compression_opts)

In [ ]:
# # Export sample CSC
# clean_real_estate_df.sample(500).to_csv('Resources/real_estate_sample_500.csv', index=False)

In [ ]:
# # Export sample CSC
# clean_real_estate_df.sample(1000).to_csv('Resources/real_estate_sample_1000.csv', index=False)